.cards {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.card {
  border: 2px dotted lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 242px;
  padding: 20px;
}

.card img {
  width: 100px;
}

.card p {
  text-align: center;
  margin: 10px;
}
